set_io --warn-no-port nrst_in 26
set_io --warn-no-port nef_in 27
set_io --warn-no-port disp_cmd_rd 32
set_io --warn-no-port disp_cmd_in[0] 31
set_io --warn-no-port disp_cmd_in[1] 37
set_io --warn-no-port disp_cmd_in[2] 34
set_io --warn-no-port disp_cmd_in[3] 43
set_io --warn-no-port disp_cmd_in[4] 36
set_io --warn-no-port disp_cmd_in[5] 42
set_io --warn-no-port disp_cmd_in[6] 38
set_io --warn-no-port disp_cmd_in[7] 28
set_io --warn-no-port ext_osc 20
set_io --warn-no-port hsync 46
set_io --warn-no-port vsync 47
set_io --warn-no-port red[3] 21
set_io --warn-no-port red[2] 13
set_io --warn-no-port red[1] 19
set_io --warn-no-port red[0] 18
set_io --warn-no-port green[3] 11
set_io --warn-no-port green[2] 9
set_io --warn-no-port green[1] 6
set_io --warn-no-port green[0] 44
set_io --warn-no-port blue[3] 4
set_io --warn-no-port blue[2] 3
set_io --warn-no-port blue[1] 48
set_io --warn-no-port blue[0] 45
set_io --warn-no-port debug_led_1 23
set_io --warn-no-port debug_led_2 25
set_io --warn-no-port debug_led_3 2
