set_io --warn-no-port ext_osc 20
set_io --warn-no-port hsync 46
set_io --warn-no-port vsync 47
set_io --warn-no-port red[3] 21
set_io --warn-no-port red[2] 13
set_io --warn-no-port red[1] 19
set_io --warn-no-port red[0] 18
set_io --warn-no-port green[3] 11
set_io --warn-no-port green[2] 9
set_io --warn-no-port green[1] 6
set_io --warn-no-port green[0] 44
set_io --warn-no-port blue[3] 4
set_io --warn-no-port blue[2] 3
set_io --warn-no-port blue[1] 48
set_io --warn-no-port blue[0] 45
