set_io --warn-no-port nrst 10
set_io --warn-no-port ext_osc 20
set_io --warn-no-port redOut 4
set_io --warn-no-port greenOut 3
set_io --warn-no-port blueOut 48
set_io --warn-no-port intenseOut 45
set_io --warn-no-port hSyncOut 46
set_io --warn-no-port vSyncOut 47
set_io --warn-no-port hostDataPhys[0] 12
set_io --warn-no-port hostDataPhys[1] 21
set_io --warn-no-port hostDataPhys[2] 13
set_io --warn-no-port hostDataPhys[3] 19
set_io --warn-no-port hostDataPhys[4] 18
set_io --warn-no-port hostDataPhys[5] 11
set_io --warn-no-port hostDataPhys[6] 9
set_io --warn-no-port hostDataPhys[7] 6
set_io --warn-no-port hostAddr[0] 23
set_io --warn-no-port hostAddr[1] 25
set_io --warn-no-port hostAddr[2] 26
set_io --warn-no-port hostAddr[3] 27
set_io --warn-no-port hostAddr[4] 32
set_io --warn-no-port hostAddr[5] 35
set_io --warn-no-port hostAddr[6] 31
set_io --warn-no-port hostAddr[7] 37
set_io --warn-no-port hostAddr[8] 34
set_io --warn-no-port hostAddr[9] 43
set_io --warn-no-port hostAddr[10] 36
set_io --warn-no-port hostAddr[11] 42
set_io --warn-no-port hostAddr[12] 38
set_io --warn-no-port nHostRd 28
set_io --warn-no-port nHostWr 2
